#!/bin/rc -e
# Copyright 2012 The Go Authors. All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

eval `{go tool dist env -9}

if(! test -x $GKTOOLDIR/dist){
	echo 'cannot find $GKTOOLDIR/dist; nothing to clean' >[1=2]
	exit noclean
}

$GKBIN/go clean -i std
$GKBIN/go tool dist clean
$GKBIN/go clean -i cmd
